*{ margin:0px;padding:0px;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;box-sizing:border-box;font-size: 15px;}
.fix-scroll{position: fixed;max-width: 1350px;top: 0px;left: 0px;z-index: 988}
a{cursor: pointer;}
.center{text-align: center}
.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    top: 10px;left: 0px;right: 0px;margin:auto;z-index: 9999999999999999;position: fixed;width: 500px;max-width: 100%;
}
canvas {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.alert button{
        background: transparent;
    border: 0px;
    color: #797171;
    font-size: 150%;
    display: inline-block;
    position: absolute;
    right: 9px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    outline: none;
}
.alert-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-success {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.page-detail > .left > .post-content img ,.ndbv img{
    max-width: 100%;
    height: auto !important;
}
.page-detail > .left > .post-content p, .ndbv p {
    line-height: 25px;
    margin: 10px 0px;
    text-align: justify;
    clear: both;
}

ul.breadcrumb li{list-style: none;}
.white{color:white}
.text{font-size: 16px; text-align: justify;line-height: 28px;}
.clear{clear:both}
.clear10{clear:both;height:10px}
.clear20{clear:both;height:20px}
.clear100{clear:both;height:100px}
.list_ngang li{list-style:none;display:inline-block;float:left;}
.list_doc li{list-style:none;display:block}
a{text-decoration:none;color:#000}
.tj{text-align:justify;font-size:14px;line-height:20px;margin-bottom:5px}
.tc{text-align:center}
.w50{width: 50%;float: left;}
.vien_hinh{border:4px solid #fff!important;outline:1px solid #d3d2d2;}
.bo5{border-radius:5px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mt10{margin-top:10px}
.mb{margin-bottom:5px}
.pad2{padding: 2%}
.ngay{font-style:italic;font-size:12px;color:#666;margin-top:5px}
.w1350{max-width:1350px;margin:auto;position:relative;overflow:hidden;width:100%}
.w1000{max-width:1150px;margin:auto;}
.w100{width:100%;float:left;}
.hl{color:#ef402c;font-size:18px;font-weight:bold}
.vta{display:-ms-flexbox!important;-ms-flex-pack:center;-ms-flex-align:center;display:-webkit-box!important;-webkit-box-pack:center;-webkit-box-align:center;display:flex!important;flex-direction:column;justify-content:center;}
.tras{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.page-left > .post-content .mtbv table{max-width: 100%}
.pages-abouts{margin: 3% 0}
.tieude-news{padding: 3% 0;font-size: 120%}
section.hedear-top{padding: 5px 0;background: whitesmoke;margin-bottom: 20px}
section.hedear-top li{display: inline-block;list-style: none;margin-left: 10px}
section.hedear-top ul{float: right;}
header .col3{width: 40%;display: inline-block;vertical-align: middle;}
header .wrp-col3{display: inline-table;}
header .col3 .left{width: 65%;display: inline-block;vertical-align: middle;}
header .col3 .right{width: 32%;display: inline-block;vertical-align: middle;}
header .col3 .right img{max-width: 90%;float: right;}
header .col3 .left li{width: 100%;float: left;margin-bottom: 10px;list-style: none;}
header .col3 .left li:nth-child(1){font-weight: bold}
header .col3:nth-child(1){width: 20%}
header .col3:nth-child(1) img{max-width: 70%}
header .col3 li:nth-child(2),header .col3 li:nth-child(3){font-weight: bold;color: #34090c}
header .col3:nth-child(2){padding-right: 10%;line-height: 25px}
header .col3:nth-child(3){background: whitesmoke;padding: 0 2%;display: inline-table;}
header .col3:nth-child(2) span{width: calc(100% - 30px);display: inline-block;vertical-align: middle;}
header .col3:nth-child(2) i{font-size: 200%;display: inline-block;vertical-align: middle;color: #34090c}
header{margin-bottom: 20px}
footer{background: #f6f6f6;padding: 2% 0}
footer *{color: #333}
footer .col3{width: calc(100% / 3);float: left;padding-right: 20px}
footer .col3 label{font-size: 110%;font-weight: bold;margin-bottom: 20px;color: #34090c}
footer .col3:nth-child(2) ul li a{display: inline-block;margin-right: 10px}
footer .col3:nth-child(3) ul li{display: inline-block;vertical-align: top;margin-right: 15px}
footer .col3:nth-child(3) ul li i{font-size: 150%}
footer .col3:nth-child(3) ul li{width: 100%;float: left;border-bottom: 1px dashed #333}
footer .col3:nth-child(3) ul li:last-child{border-bottom: 0}
footer .col3:nth-child(3) ul li p{width: 100%;float: left;margin-bottom: 10px;line-height: 25px}
footer .col3:nth-child(3) ul li p span:nth-child(1){font-weight: bold}
footer .col3 .wrp-logo-ft{margin-bottom: 10%;max-width: 90%}
footer .col3 li{list-style: none;margin-bottom: 10px}
section.menu{background: #34090c;}
section.taisao .wrp-col4{display: inline-table;}
section.taisao .col4{width: calc(100% / 4);padding: 0 1%;display: inline-block;vertical-align: top;}
section.taisao .col4 .tr-icon{width: 125px;height: 125px;border-radius: 50%;display: block;margin:auto;background: #34090c;position: relative;text-align: center;    border: 8px solid transparent;}
section.taisao .col4 .tr-icon i{position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;margin:auto;display: inline-table;    text-align: center;
    width: 100%;color: white;font-size: 300%}

footer .col3:nth-child(2) ul li i{font-size: 150%}
section.taisao .col4 label{margin-top: 15px;font-weight: bold;width: 100%;float: left;text-align: center;margin-bottom: 10px;color: #444444;position: relative;padding-bottom: 8px;font-size: 90%}
section.taisao .col4 label:after{position: absolute;width: 80px;height: 1px;background: #888888;bottom: 0px;left: 0px;right: 0px;margin:auto;content:"";}
section.taisao .col4 p{text-align: center;color: #888888;line-height: 24px;font-size: 90%}
section.taisao{padding: 3% 0;background: #eeeeee;}
section.taisao .col4:hover .tr-icon{border-color: #a77478;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;}
section.dichvunb{background: url(../images/bg_blog.jpg) no-repeat fixed;background-size: cover;padding-bottom: 3%}
section.dichvunb .wrp-col4{display: inline-table;margin-top: 20px}
section.dichvunb .col4{
    width: calc((100% - 60px) / 4);display: inline-block;vertical-align: top;margin-right: 20px;background: white;
    border-radius:  0 0 5px 5px;padding-bottom: 2%;
}
.wrp-bg-white{background: white}
section.dichvunb .col4:nth-child(4n){margin-right: 0}
section.dichvunb span.icon-title {
    display: block;
    width: 260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
section.dichvunb .tt{color: white;text-transform: uppercase;font-size: 120%;font-weight: bold;margin-top: 15px}
section.dichvunb span.icon-title > span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    z-index: 90;
}
section.dichvunb span.icon-title i {
    color: #34090c;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 19px;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
section.dichvunb .col4 label{margin: 10px;    font-size: 110%;padding:0 10px;line-height: 27px;min-height: 27px}
section.dichvunb .col4 p{color: #4b4b4b;text-align: justify;padding: 0 10px;line-height: 24px;}

section.newshome .tt{color: #444;text-transform: uppercase;font-size: 120%;font-weight: bold}
section.newshome span.icon-title > span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d6d6d6;
    position: absolute;
    top: 50%;
    z-index: 90;
}
section.newshome span.icon-title i {
    color: #34090c;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 19px;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
section.newshome span.icon-title {
    display: block;
    width: 260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
section.newshome{padding: 3% 0;background: #F6F6F6;}
section.newshome .ct{margin-top: 2%}

section.khachhang .tt{color: white;text-transform: uppercase;font-size: 120%;font-weight: bold;margin-top: 2%}
section.khachhang span.icon-title > span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    z-index: 90;
}
section.khachhang span.icon-title i {
    color: #34090c;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 19px;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
section.khachhang span.icon-title {
    display: block;
    width: 260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
section.khachhang {
    background: url(../images/bg_testimonal.jpg) no-repeat fixed;
    background-position: 50% 0;
}
section.khachhang .ct{margin-top: 2%}

section.yeucaubaogia .tt{color: #444;text-transform: uppercase;font-size: 120%;font-weight: bold}
section.yeucaubaogia span.icon-title > span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d6d6d6;
    position: absolute;
    top: 50%;
    z-index: 90;
}
section.yeucaubaogia span.icon-title i {
    color: #34090c;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 19px;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
section.yeucaubaogia span.icon-title {
    display: block;
    width: 260px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
section.yeucaubaogia {
    background: #F6F6F6;
    padding-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 3%;
}
section.yeucaubaogia li{width: 550px;list-style: none;margin:auto;margin-bottom: 20px;}

section.yeucaubaogia li:nth-child(1) input{width: calc(96% / 2);display: inline-block;}
section.yeucaubaogia li:nth-child(1) input:nth-child(2){margin-left: 2%;float: right;}
section.yeucaubaogia li input{outline: none;width: 100%;padding: 8px}
section.yeucaubaogia li textarea{width: 100%;padding: 10px;outline: none;}
section.yeucaubaogia li input[type="submit"]{width: 130px;background: #34090c;border:1px solid #34090c;color: white;outline: none;border-radius: 30px;float: right;padding: 10px}
section.yeucaubaogia li input[type="submit"]:hover{background: white;color: #34090c;-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;}
section.yeucaubaogia .ct{margin-top: 3%}
.page-left,.page-cate > .left{width: 70%;float: left;padding-right: 15px}
.menuright,.page-cate > .right{width: 30%;float: left;background: #f9f9f9;padding: 15px; padding-top: 20px;}
.page-detail .post-content h3.tt-bv{font-size: 130%;margin-bottom: 3%}
.page-left > .post-content .wrp-time {
    font-size: 85%;
    color: #8b8a8a;
}
.page-detail{margin:3% 0;}
.page-left > .post-content .wrp-time i{margin-right: 10px}
.page-left > .post-content {line-height: 24px;}
.page-left > .post-content .mtbv {
    margin-bottom: 2%; } 
    .wrp-share {
    width: 122px;
    display: inline-block;
    float: right;
    margin-bottom: 3%;
}
.wrp-share-gg {
    display: inline-block;
    float: right;
    margin-left: 5px;
}
.wrp-share-gg2 {
    float: right;
    margin-left: 3px;
}
.wrp-share2 {
    float: right;
    width: 122px;
}
.wrp-view-clip .des p, .ndbv p {
    line-height: 25px;
    margin: 10px 0px;
    text-align: justify;
    clear: both;
}
.page-left .wrp-post-rale li {
    width: calc(94% / 4);
    margin-right: 2%;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.page-left .wrp-post-rale li:hover label {
    color: #006BA0;
}
.page-left .wrp-post-rale li label {
    width: 100%;
    float: left;
    margin: 2% 0;
    font-size: 110%;
    overflow: hidden;
}
.page-left .wrp-post-rale .tt-tlq {
    margin: 2% 0;
    font-weight: bold;
    color: #34090c;
    font-size: 120%;
    position: relative;
    padding-left: 30px;
}
.page-left .wrp-post-rale .tt-tlq:after {
    content: "";
    height: 17px;
    width: 20px;
    background: #34090c;
    left: 0;
    position: absolute;
    top: 2px;
}
.menuright .wrp-dvnb li{width: 100%;float: left;margin-bottom: 20px;list-style: none;display: inline-table;}
.menuright .wrp-dvnb li a{display: inline-table;}
.menuright .wrp-dvnb li .wrp-img{width: 100px;display: inline-block;vertical-align: middle;}
.menuright .wrp-dvnb li label{width: calc(100% - 100px);display: inline-block;vertical-align: middle;padding-left: 20px}
.menuright .wrp-dvnb > label{margin-bottom: 3% ;font-size: 110%;font-weight: bold}
.menuright .wrp-dvnb ul{width: 100%;float: left;padding: 15px;background: white;    border: 1px solid #EBEBEB;border-radius: 5px}
.menuright .wrp-dvnb{margin-bottom: 40px}
.menuright .wrp-baogia li{width: 100%;float: left;margin-bottom: 20px;list-style: none;}
.menuright .wrp-baogia ul{width: 100%;float: left;padding: 15px;background: white;    border: 1px solid #EBEBEB;border-radius: 5px}
.menuright .wrp-baogia > label {
    margin-bottom: 3%;
    font-size: 110%;
    font-weight: bold;
}
.menuright .wrp-baogia li input,.menuright .wrp-baogia li textarea{    border: 1px solid #F2F2F2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 7px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 86%;
    outline: none;}
.menuright .wrp-baogia li p{font-size: 80%;color: #333;line-height: 24px;text-align: center}
.menuright .wrp-baogia li input[type="submit"]{width: 100px;background: #34090c;border:1px solid #34090c;color: white;text-align: center;margin:auto;float: none;display: block;}
.menuright .wrp-baogia li input[type="submit"]:hover{background: white;color:#34090c ;-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;}
.menuright .wrp-httt li{width: 100%;float: left;margin-bottom: 20px;list-style: none;display: inline-table;display: inline-table;}
.menuright .wrp-httt li:last-child{margin-bottom: 0}
.menuright .wrp-httt li .wrp-img{width: 60px;display: inline-block;vertical-align: middle;height: 80px;border-radius: 50%;overflow: hidden;}

.menuright .wrp-httt li .wrp-right{width: calc(100% - 60px);display: inline-block;vertical-align: middle;padding-left: 20px}
.menuright .wrp-httt li .wrp-right p{width: 100%;float: left;margin-bottom: 5px;font-size: 90%}
.menuright .wrp-httt li .wrp-right p img,.menuright .wrp-httt li .wrp-right p span{display: inline-block;vertical-align: middle;margin-right: 10px;color: #333}
.menuright .wrp-httt li .wrp-right p span{display: inline-block;vertical-align: middle;}
.menuright .wrp-httt li .wrp-right p:nth-child(1){font-weight: bold}
.menuright .wrp-httt{margin-bottom: 40px}
.menuright .wrp-httt li{width: 100%;float: left;margin-bottom: 20px;list-style: none;}
.menuright .wrp-httt ul{width: 100%;float: left;padding: 15px;background: white;    border: 1px solid #EBEBEB;border-radius: 5px}
.menuright .wrp-httt > label {
    margin-bottom: 3%;
    font-size: 110%;
    font-weight: bold;
}
.menuright .wrp-httt{margin-bottom: 40px}
.menuright .qc img{max-width: 100%}
.menuright .wrp-baogia{margin-bottom: 40px}
.menuright .qc > label {
    margin-bottom: 3%;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
}
.menuright .qc .wrp-img{width: 100%;float: left;padding: 15px;background: white;    border: 1px solid #EBEBEB;border-radius: 5px}
.menuright .wrp-baogia2{margin-bottom: 40px}
.menuright .wrp-baogia2 > label {
    margin-bottom: 3%;
    font-size: 110%;
    font-weight: bold;
}
.menuright .wrp-baogia2 ul{width: 100%;float: left;padding: 15px 0 0;background: white;    border: 1px solid #EBEBEB;border-radius: 5px}
.menuright .wrp-baogia2 li{width: 100%;float: left;list-style: none;}
.menuright .wrp-baogia2 li a {
    width: 100%;
    float: left;
    border-bottom: 1px solid #EBEBEB;
    display: inline-table;
    padding:15px;
    text-decoration: none;
    font-size: 100%;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}
.menuright .wrp-baogia2 li a:before {
        font-family: FontAwesome;
    vertical-align: top;
    content: "\f104";
    margin-right: 10px;
    color: #34090c;
    display: inline-block;
}
.menuright .wrp-baogia2 li a label{
  display: inline-block;
  width: calc(100% - 16px);
}
.page-left .list-pro li {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    min-height: auto;
    list-style: none;
}
.page-left .list-pro li:last-child{border-bottom: 0}
.page-left .list-pro li .wrap-img-cate {
    width: 30%;
    float: left;
    margin-right: 2%;
}
.page-left .list-pro li .wrap-img-cate img {
    width: 100%;
    float: left;
}
.page-left .list-pro li .wrap-des-cate {
    width: 68%;
    float: left;
}
.page-left .list-pro li .wrap-des-cate h3 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: black;
}
.page-left .list-pro li .wrap-des-cate .time-stamp {
    width: 100%;
    float: left;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
     margin-bottom: 10px;
     color: #6a6a6a;
}
.page-left .list-pro li .wrap-des-cate p{text-align: justify;line-height: 24px}
.page-left .head {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    color: #34090c;
    margin: 2% 0;
}
.wrap-loaitin .wrp-mar{margin:3% 0;}

@media screen and (max-width: 1000px){
    section.hedear-top{padding-right:10px;}
    .page-left, .page-cate > .left{padding-left: 3%}
    section.newshome .ct{    padding: 0 50px;}
    .camnhankhachhang-slide .owl-item .left{padding: 0 15px}
    footer{padding: 2%}
}
@media screen and (max-width: 650px){
    footer .col3{width: 50%;margin-bottom: 5%;float: none;display: inline-block;vertical-align: top;}
    footer .col3:nth-child(2){padding-left: 10%}
    footer .w1000{display: inline-table;}
    section.dichvunb .col4{
        width: calc((100% - 20px) / 2);
        margin-bottom: 3%;
    }
    section.dichvunb .col4:nth-child(2n) {
        margin-right: 0;
    }
    section.dichvunb .wrp-col4{padding: 3%}
    section.taisao .col4{width: 50%;margin-bottom: 5%}
    .page-left, .page-cate > .left{width: 100%}
    .menuright, .page-cate > .right{width: 100%}
    .menuright .wrp-dvnb,.menuright .wrp-baogia2,.qc{display: none;}
    .page-left .wrp-post-rale li{width: 49%;margin-bottom: 6%}
    .page-left .wrp-post-rale ul{display: inline-table;}
    .page-left .wrp-post-rale li:nth-child(2n){margin-right: 0}
    .pages-abouts{padding: 2%}
    header{padding: 0 2%}
    header .col3{width: 80%}
    header .col3:nth-child(2){display: none;}
    header .col3 .left{width: 70%}
    header .col3 .right{width: 30%}
    footer .col3:nth-child(3){width:100%}
    section.yeucaubaogia{padding: 2%}
    section.yeucaubaogia li{max-width: 100%}
    .contact-page .wrap-info-ct .w50{width: 100%}
}
@media screen and (max-width: 414px){
    footer .col3{width: 100%}
    footer .col3:nth-child(2){display: none;}
    header .col3:nth-child(1){text-align: center;width: 100%}
    header .col3:nth-child(3){width: 100%;margin-bottom: 10px;display: none;}
    section.taisao .col4 .tr-icon i{font-size: 200%}
    section.taisao .col4 .tr-icon{    width: 80px; height: 80px;}
    section.dichvunb .col4{width: 100%;margin-right: 0}
}